* {
  font-family: 'Roboto Slab', serif;
}

body {
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: #f7f7f7;
}

a {
  color: #a384ff;
  text-decoration: none;
}

a:hover {
  color: #bfaaff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
}

.subtitle {
  font-family: inherit;
  font-size: 20px;
  font-weight: normal;
}

.avatar-img-container img {
  object-fit: cover;
}

.avatar-img-container img {
  width: 140px;
  height: 140px;
  display: block;
  margin: 0 auto;
  border: solid 5px #e5e5e5;
  border-radius: 70px;
}

.social-container div {
  text-align: center;
}

.social-container a {
  font-size: 40px;
}

.main-content {
  font-size: 20px;
  text-align: justify;
}

.experience-summary-list {
  padding-left: 0;
  list-style-type: none;
}

.experience-summary-list li {
  margin: 0 0 4px 0;
}

.experience-summary-list li::before {
  content: "> ";
  color: #a384ff;
  font-weight: bold;
}

@media (max-width: 768px) {
  .text-sm-center {
    text-align: center;
  }
}

.btn-cta {
  background-color: #a384ff;
  color: #f7f7f7;
  opacity: 1.0;
  letter-spacing: 0.5px;
  height: 64px;
  font-size: 21px;
}

.btn-cta:hover {
  color: #f7f7f7;
  opacity: 0.9;
}

.btn-cta-empty {
  background-color: transparent;
  color: #a384ff;
  border: 2px solid #a384ff;
  opacity: 1.0;
  letter-spacing: 0.5px;
  height: 64px;
}

.btn-cta-empty:hover {
  background-color: #a384ff;
  color: #f7f7f7;
  border: 2px solid #a384ff;
  opacity: 0.9;
  letter-spacing: 0.5px;
  height: 64px;
}
